.btn {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 10px 45px;
  transition: color 0.3s, border 0.3s;
  font-weight: 700;
  transform-style: preserve-3d;
}
